:root {
    --color-brand-primary:  #faecdb;
    --color-brand-contrast: #6F4E37;
    --color-background: #fadecd;
    --color-light-blue: #41a5e7;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: var(--color-background);
}

footer {
    overflow: auto;
    background-color: var(--color-light-blue);
}

.card {

    transition: all 0.2s ease;
    cursor: pointer;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: rgba(182, 89, 27, 0.25);
    border: 1px solid rgba(228, 75, 15, 0.4);
    margin-top: 0.25em;
}

a {
    color: var(--color-brand-contrast);
}
    
.card:hover {
    box-shadow: 5px 6px 6px 2px #e9ecef;
    transform: scale(1.1);
}

.my-button {
    background-color: var(--color-light-blue);
}

.bg-primary {
    background-color: var(--color-brand-primary) !important;
}

.bg-secondary {
    background-color: var(--color-brand-contrast) !important;
}

nav .navbar-nav li a {
    color: var(--color-brand-contrast) !important;
}